<!DOCTYPE html>
<html lang="en">
<head>
    <title>t2i - Tweet India</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Prabusah" />
    <meta name="theme-color" content="#006cb4" id="themeColor">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no"> 
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <style>body{padding-top:150px;}.helpCustom{color:yellow;}.bodyCustom{background:#027cd5;color:black;}
    </style>
    <link rel="manifest" href="static/assets/manifest.json">
    <link rel="icon" href="/static/assets/images/chrome-touch-icon-192x192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/static/assets/images/chrome-touch-icon-384x384.png" sizes="384x384" type="image/png">
</head>
<body class="container bodyCustom">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tweet India</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
            <ul class="nav navbar-nav">
              <li><a class="home" href="/">Home</a></li>
              <li><a class="about" href="/static/about.html">About</a></li>
              <li><a class="contact" href="/static/contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
    </nav>
<main>
    <div class="jumbotron"> 
        <p><%= status%></p>
    </div>
    <div class="starter-template">
        <p class="help-block helpCustom">if picture uploaded by capturing from mobile camera - It will take approx. 15 seconds to reflect in Twitter</p>
    </div>  

</main>
    <footer class="footer bg-primary">
      <div class="container">
        <p class=" text-center">Developed as part of Digital Me Challenge 2 by Prabusah (prabusah.boblamohansah@tcs.com)</p>
      </div>
    </footer>
        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
  </body>
</html> 